* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: gray;
}

header {
  background-color: #6a8097;
  background-image: url(./images/bg-1.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.text-red {
  color: rgb(255, 87, 87);
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown {
  color: white;
  gap: 20px;
  text-align: center;
  margin: 50px 0;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.838);
}

.countdown > div > div:nth-of-type(1) {
  font-size: 2.1rem;
  font-weight: 700;
}

.email-wrapper {
  width: 100%;
  max-width: 400px;
}

.flex-row {
  display: flex;
}

.heading-1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.2rem;
  padding: 20px 0 10px;
}

.paragraph-1 {
  font-weight: 500;
  color: rgb(240, 240, 240);
}

.text-center {
  text-align: center;
}

.subscribe-form {
  width: 100%;
}

.subscribe-form input[type="email"] {
  width: 100%;
  padding: 10px;
  outline: none;
}

.subscribe-form input {
  margin: 10px 0;
}

.subscribe-form input[type="email"]::placeholder {
  color: white;
  text-shadow: 1px 1px 5px black;
}

.subscribe-form input[type="email"]:focus {
  background-color: black;
}

.subscribe-form input[type="email"]::out {
  border: none;
  background-color: black;
}

.subscribe-form input[type="email"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}

.subscribe-form input[type="button"] {
  padding: 10px 40px;
  outline: none;
  margin-bottom: 20px;
  background-color: #f11d5a;
  color: white;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.387);
  border-radius: 3px;
}

.subscribe-form input[type="button"]:hover {
  background-color: #d3194e;
}

input[type="button"] {
  cursor: pointer;
}
