* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body,
textarea,
input {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: white;
}

body,
textarea,
input,
input::placeholder,
textarea::placeholder {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

input::placeholder,
textarea::placeholder {
  font-size: 0.8rem;
}



.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.p-mark {
  font-weight: 500;
  color: #ff0040;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email-wrapper {
  width: 100%;
  max-width: 400px;
}

.flex-row {
  display: flex;
}

.heading-1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.2rem;
  padding: 20px 0 10px;
}

.paragraph-1 {
  font-weight: 500;
  text-shadow: 1px 1px 5px black;
  color: rgb(240, 240, 240);
}

.text-center {
  text-align: center;
}

.subscribe-form {
  width: 100%;
  padding: 0 5px;
}

.subscribe-form input[type="email"] {
  width: 100%;
  padding: 10px;
  outline: none;
}

.subscribe-form input {
  margin: 10px 0;
}

.text-input-1::placeholder {
  color: white;
  text-shadow: 1px 1px 5px black;
}

.text-input-1:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.text-input-1 {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}

.button-input-1 {
  padding: 10px 40px;
  outline: none;
  margin-bottom: 20px;
  background-color: #f11d5a;
  color: white;
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.387);
  border-radius: 3px;
}

.button-input-1:hover {
  background-color: #d3194e;
}

input[type="button"] {
  cursor: pointer;
}

.main-box {
  margin: 70px auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  column-gap: 10px;
}

.right-section {
  width: 100%;
  max-width: 430px;
  padding: 20px;
}

.left-section {
  width: 100%;
  max-width: 430px;
  padding: 15px;
}

.left-section > h3,
.right-section > h3 {
  padding-bottom: 30px;
}

.left-section > p,
.right-section > p {
  color: rgb(151, 151, 151);
  margin-bottom: 30px;
  font-weight: 400;
}

.bar {
  position: relative;
  margin: 10px 0;
}

.bar-top {
  display: flex;
  justify-content: space-between;
}

.bar-line {
  margin-top: 10px;
  height: 5px;
  background-color: rgb(0, 166, 255);
  border-radius: 10px;
}

.bar-line::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.133);
  border-radius: 10px;
}

.form-inputs-padding > input,
.form-inputs-padding > textarea {
  padding: 10px;
  width: 100%;
}

.text-input-2 {
  color: black;
  text-shadow: none;
  border-color: gray;
  outline: none;
}

.text-input-2::placeholder {
  color: rgb(170, 170, 170);
  text-shadow: none;
}

.text-input-2:focus {
  background-color: rgba(195, 195, 195, 0.619);
}

.flex-wrap {
  flex-wrap: wrap;
}

.button-input-2 {
  padding: 15px 20px;
}

.form-button-wrapper {
  display: flex;
  margin-top: 10px;
}

.form-button-wrapper {
  align-self: flex-end;
}

.right-form-top {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.message-textarea {
  min-height: 100px;
  resize: vertical;
}

.p-link {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .right-form-top {
    flex-wrap: wrap;
  }
  .right-form-top input {
    width: 100%;
  }
}
