.footer-links {
  list-style-type: none;
  display: flex;
  column-gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.footer-links a {
  color: white;
  transition: all 0.1s ease-in-out;
  display: block;
  font-size: 1.2rem;
  padding: 3px 5px;
}

.footer-links a:hover {
  text-shadow: 0 1px 2px black;
}

.footer-under {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  color: rgb(210, 210, 210);
  font-weight: 500;
  flex-wrap: wrap;
  row-gap: 5px;
  font-size: 0.8rem;
}

.footer-under img {
  display: block;
  width: 200px;
  align-self: center;
  margin: 20px 0;
}

.footer-under a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.go-up-btn {
  top: -50px;
  right: 0;
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #f11d5a;
  border-radius: 50%;
  color: white;
  font-size: 1rem;
  box-shadow: 0 1px 5px black;
  border: none;
  cursor: pointer;
}

.go-up-btn:hover {
  background-color: red;
}

.footer {
  position: relative;
  padding: 20px 10px;
  background-color: #03a9f5;
  width: 100%;
}

.footer hr {
  margin: 20px 0;
  width: 100%;
  background-color: rgb(225, 225, 225);
  border: none;
  height: 2px;
}

.footer section {
  position: relative;
}

.scroll-img {
  font-size: 2rem;
  color: white;
  margin: 10px 0;
  text-shadow: 0 1px 5px black;
}
